$font-primary: 'Open Sans', sans-serif;
$color-primary: #0094ff;
$color-secondary: #ffd600;
$color-white: #FFFFFF;
$color-black: #000000;
$border-color: #dfdfdf;

$mobile-nav-height: 90px;

$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.250rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.500rem;
$font-size-28px: 1.75rem;
$font-size-32px: 2rem;
$font-size-36px: 2.25rem;
$font-size-40px: 2.5rem;
$font-size-48px: 3rem;
$font-size-56px: 3.5rem;

$media-hd: 1670px;
$media-laptop: 1199.98px;
$media-tablet: 991.98px;
$media-mobile: 767.98px;
$media-mobile-sm: 320px;

$transition: .2s ease-in-out;
